<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %>
</head>
<%- include("./partials/header-index.ejs")%>
<div class="container-cards">
<body>
    <%for(let rec of recipe){ %>
        <div class="card" style="width: 25rem;">
            <div class="card border-dark text-dark">
                    <img class="card-img-top" src="<%=rec.img%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%=rec.name%></h5>
                        <a href="/recipeBook/<%=rec._id%>" class="btn btn-primary">Recipe</a><br>
                        <small><%= rec.createdDate %> </small> 
                    </div>
                </div>
            </div>
            <%}%>
        </body>
    </div>
</html>