<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head.ejs') %>
</head>
<%- include("./partials/header.ejs")%>
<body>
    <%for(let rec of recipe){ %>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%=rec.img%>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=rec.name%></h5>
          <a href="/recipeBook/<%=rec._id%>" class="btn btn-primary">Recipe</a>
          <%= rec.createdDate %>
        </div>
      </div>
      <%}%>
</body>
<style>
    html{ 
        display: block;
        color: blue
    }
    img {
        max-width: 50%;
        height: auto;
    }
    .site-header {
        width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
    .main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
}
</style>
</html>